<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron home_main">
    <h1>Hello, World!</h1>
  
    <h2>
      <p>技術習得のためのサンプルアプリケーションです。</p>
    </h2>
  
    <%= link_to "アカウントの作成", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <p>
    このサイトは以下の言語・フレームワーク・環境を利用して作成されています。<br/>
    <ul>
      <li>Ruby on Rails(5.0.0.1)</li>
      <li>Cloud9</li>
      <li>heroku</li>
      <li>SQLite</li>
      <li>Bootstrap</li>
      <li>Sass</li>
      <li>Linux</li>
      <li>Gravatar</li>
    </ul>
  </p>
  
  <div class="row">
    <div class="col-md-4">
      <p class="center">
        セッション管理について
        <%= link_to image_tag("session_control.png",
                              alt: "Session Controll",
                              :size => "300x200"),
                    static_pages_session_diagram_path %>
      </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  
  
  <p>
    <br/><br/>
    <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
  </p>
<% end %>
