<% provide(:title, "About") %>
<h2>セッション管理について</h2>
<div class="row">
  <div class="col-md-12">
    <p>
    　チュートリアルで作成したセッション管理の仕組みがよくわからなかったので、
    整理するためにシーケンス図にしてみました。<br/>
    </p>
    <p>
    　ログイン画面で「セッションを覚えておく」チェックをしてログインした場合、
    cookiesにuser_idとremember_tokenを保存し、remember_tokenについては
    DBのUserモデルにもハッシュとして保存します。
    　remember_tokenはなりすましを防ぐための仕組みで、画面を再起動した際に
    cookies[:user_id]でDBからUserモデルを取得し、cookies[:remember_token]の
    ハッシュで認証を行います。<br/>
    </p>

    <p class="center">
      <a data-toggle="modal" data-target=".bs-example-modal-sm">
        </->sessionシーケンス<br/>
        <%= image_tag("session_control.png", alt: "Session Controll", :class => "img-thumbnail", :size => "300x200") %>
      </a>
    
      <!--下記が表示部分-->
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      	<div class="modal-dialog modal-sm">
      		<div class="modal-content text-center" style="width:1000px; margin-left: -350px;">
      		  <%= image_tag("session_control.png") %>
      		</div>
      	</div>
      </div>
      <br/>
    </p>


    <p>
    　図をよく見ると気付くと思いますが、sessionにもcookiesにもuser_id（とトークン）
    しか保存しておらず、名前その他のユーザ情報を取得するため、
    画面遷移する毎にDBからUserモデルを取得しています。これはコスト的にどうなのか
    と思いますが、Railsでは一般的なのでしょうか。
    </p>
    　また、「セッションを覚えておく」チェックの有無によって、セッション情報を
    sessionにのみ保存するかcookiesにも保存するかが選べるようになっていますが、
    どうもRailsのsessionはバージョン2.0からcookiesを利用する設定がデフォルトに
    なっているようで、「セッションを覚えておく」チェックをはずした状態でログイン後
    にサーバを再起動してもログイン状態が保たれていました。
    「セッションを覚えておく」をチェックしてもしなくても挙動が変わらないという
    謎の状態です。
    </p>
  </div>
</div>

