<% provide(:title, "Edit user") %>
<% provide(:button_text, 'アカウントを更新する') %>
<h1>アカウント更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">画像を変更する</a>
    </div>
  </div>
</div>